.THIS .content, .THIS body {
    max-width: 1024px;
    margin: auto;
}

.THIS .navDesktop{
    background-color: #d3d4d8;
}

.THIS .forceSearchInputDesktop .uiInput .uiInputTextForAutocomplete, .THIS .forceSearchInputDesktop .uiInput .uiInputTextForAutocomplete:focus{
    background:white;
}
.THIS .inputWrapper.slds-grid.slds-grid--align-center.slds-grid--vertical-align-center.slds-size--1-of-1 {


    background: white !important;
}

.THIS .logoMobile{
    display: inline-block;
    width: 125px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.THIS .slds-clearfix.mruDescription.slds-text-heading--label-normal.slds-show.slds-truncate, .THIS label.uiLabel-hidden.form-element__label.uiLabel {
    color: grey !important;
}


.THIS #locator {
    padding-left: 22px;
}

.THIS lightning-icon.slds-icon-utility-chevrondown.slds-button__icon--right.slds-icon_container {
    display: none;
}

.THIS .slds-text-color_weak, .THIS .slds-text-color--weak, .THIS .slds-text-color_default {
    color: grey !important;
}



.THIS .slds-grid.slds-grid_vertical-align-center.slds-p-horizontal--x-small {
    background-color: white;
    color: #595959;
}


.THIS .slds-text-color_weak, .THIS .slds-text-color--weak {
    color: grey !important;
}


.THIS .forceCommunityGlobalNavigation, .THIS .slds-list__item a, .THIS .forceCommunityGlobalNavigation, .THIS.slds-list__item button {
    font-size: 10px;
    font-family: Montserrat, 'Open Sans', 'sans-serif';
    line-height: normal;
    padding: 8px 14px;
    color:#525457;
}
.THIS button.slds-container_fluid.slds-button.slds-button--reset {
    font-size: 11px;
}



.THIS .selfServiceProfileMenuTrigger a {
    color: darkgrey;
    text-shadow: none;
    /*text-shadow: 0 0 0px black;*/
}



.THIS .slds-border_top, .THIS .slds-border--top {
    border-top: 1px solid #A9A9A9 !important;
}
.THIS .slds-border_bottom, .THIS .slds-border--bottom {
    border-bottom: 1px solid #A9A9A9 !important;
}

.THIS .slds-border_left, .THIS .slds-border--left {
    border-left: 1px solid #A9A9A9 !important;
}

.THIS .slds-border_right, .THIS .slds-border--right  {
    border-right: 1px solid #A9A9A9 !important;
}

.THIS .selfServiceProfileMenuTrigger a {
    color: #ffffff;
    text-shadow: none;
}

.THIS .sloganType {
    font-size: 14px;
    margin-top:-47px;
    margin-left:145px;
}

/*.THIS .sloganType p{*/
/*    font-weight: 600;*/
/*}*/

.THIS .sloganType p sup{
    font-size: 5px;
    vertical-align: super;
}

.THIS span.profileName {
    color: white;
}

.THIS .whiteText {
/*    color: white;
    font-family: Montserrat, "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;*/
    text-align: center;
}

.THIS .accountId {
    margin-top: 6px;
}

.THIS span.triggerDownArrow.down-arrow {
    color: white;
}

.THIS .forceCommunityGlobalNavigation .slds-list__item a .forceCommunityGlobalNavigation .slds-list__item button {
    font-weight: 400!important;
    font-size: 10px!important;
    font-family: Montserrat, 'Open Sans', 'sans-serif'!important;
    line-height: normal!important;
    padding-top: 8px!important;
    padding-right: 14px!important;
    padding-bottom: 8px!important;
    padding-left: 2px !important;
}

.THIS .forceCommunityGlobalNavigation {
    background-color: white;
}


.THIS .slds-container_fluid {
    padding: 8px 20px !important;
}



/* Selects every fourth element
   among any group of siblings,
   counting backwards from the last one */

/*.THIS li:nth-last-child(9n+2) {
  color: white;
    background-color:#cc0000;
    border-radius: 5px;

}*/

.THIS nav>ul>li:nth-of-type(6){
    color: white;
    background-color:#c62127;
    border-radius: 5px;
    margin-left:30px;

}


.THIS nav>ul>li>ul>li>a{
    color: black;


}



/*.THIS .slds-button__icon--right{*/
/*display: none;*/
/*}*/


.THIS .navMobile.mobileSearchBar {
    width: 100%;
    height: 55px;
    background-color: #d3d4d8;
}

@media only screen and  (min-width: 420px) and (max-width:479px) {
    .THIS #locator {
        padding-left:40px;
    }

}

@media only screen and  (min-width: 480px) and (max-width:589px) {
    .THIS .searchRegion{
        width: 25% !important;
        z-index:1;
    }

    .THIS #searchMenuPosition{
        position:relative;
        left:-75px;
    }

    .THIS .searchMenuPosition{
        margin-left: 285px;
    }

    .THIS #searchMenuPosition{
        margin-left:345px;
    }

    .THIS #locator {
        margin-left: -80px;
    }

    .THIS .sloganType {
        width:100px;
    }

    .THIS .logoMobile {
        z-index:1;
    }
}

@media only screen and  (min-width: 590px) and (max-width:649px) {
    .THIS .searchRegion{
        width: 33% !important;
        z-index:1;
    }

    .THIS #searchMenuPosition{
        margin-left:345px;
    }

    .THIS .sloganType {
        width:200px;
    }
}

@media only screen and  (min-width: 650px) and (max-width:709px) {
    .THIS #locator {
        margin-left:40px;
    }
    .THIS .searchRegion {
        width:38% !important;
        z-index:1;
    }
    .THIS .sloganType {
        width:200px;
    }
    .THIS #searchMenuPosition{
        margin-left:345px;
    }
}
@media only screen and  (min-width: 710px) and (max-width:767px) {
    .THIS #locator {
        margin-left:80px;
    }
    .THIS #searchMenuPosition{
        margin-left:345px;
    }
    .THIS .searchRegion{
        width:40% !important;
        z-index: 1;
    }
    .THIS .sloganType {
        width:200px;
    }
}
@media only screen and  (min-width: 320px) and (max-width:479px) {

    .THIS .content, .THIS body {
        max-width: 479px !important;
        margin: auto;
    }


    /* For MOBILE phones: */
    .THIS .navTablet {
        display: none !important;
        margin-left: auto !important;
        margin-right: auto !important;

    }
    .THIS .navMobile.mobileSearchBar {
        margin-top: 30px;
    }


    .THIS .navDesktopSmall {
        display: none !important;
        margin-left: auto !important;
        margin-right: auto !important;

    }

    .THIS .navDesktop {
        display: none !important;
        margin-left: auto !important;
        margin-right: auto !important;

    }

    .THIS .navDesktopLarge {
        display: none !important;
        margin-left: auto !important;
        margin-right: auto !important;

    }

    .THIS .hideElementsOnMobile {
        display: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .THIS #locator{
        margin-left:33%;
    }

    .THIS .searchBarTablet, .THIS .hideMenu {
        display: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .THIS .searchMenuPosition {


    }

    .THIS .searchRegion {
        margin-top: -50px !important;
        margin-right: 70px!important;
        margin-bottom: 80px!important;
        margin-left:1.5%;
        width: 80% !important;
    }

    .THIS .navMenuPosition {
        margin-right: 32px!important;
        margin-top:-125px;
        width: 50px!important;
        background-color: transparent !important;
    }

    .THIS #profileMenuPosition {
        margin-top:-45px!important;
        margin-right:20px!important;
    }

    .THIS .logoMobile {
        margin-top: 20px !important;
    }

    .THIS .slds-grid.slds-grid_vertical-align-center.slds-p-horizontal--x-small {
        background-color: transparent;
        color: #595959;
    }


    .THIS nav>ul>li:nth-of-type(6){
        margin-left:0px;

    }

    .THIS button.slds-container_fluid.slds-button.slds-button--reset {
        padding-bottom: 7px !important;
        padding-top: 7px !important;
        font-size:14px !important;
    }

    .THIS nav>ul>li{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        font-size: 16px !important;


    }

    .THIS li.slds-list__item {

        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    .THIS .forceCommunityGlobalNavigation {

        background-color: transparent !important;

    }
   .THIS .slds-grid.slds-grid_vertical-align-center.slds-p-horizontal--x-small {

        background-color: transparent !important;

    }

    .THIS .accountIdPosition {

        position: fixed;
        bottom: 0;
        width: 100%;
        font-family: Montserrat, "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 11px;
        line-height: 16px;
        color: #950D16;
        text-align: center;
        /*background-color: #999ca3;*/
        height: 30px;
        z-index: 1000;
    }

    /*.THIS .mobileBottomMargin {*/
    /*margin-bottom: 250px !important;*/
    /*}*/

}

@media only screen and  (min-width: 480px) and (max-width: 767px) {

     /*For TABLETs :*/
    .THIS #locator {
        position:relative;
        right:2.5vh;
        top:-152px;
        width:0;
        height:0;
    }

    .THIS #LogoSearchPosition {
        margin-top:-102px;
    }

    .THIS #searchMenuPosition {
        margin-left:340px;
        margin-bottom:50px;
    }

    .THIS .menuContainer{
        margin-top: 20px;
    }

    .THIS .navDesktop {
        background-color:transparent;
    }

    .THIS .navMobile {
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;

    }
    .THIS .navDesktop {
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;

    }
    .THIS .navDesktopLarge {
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;

    }

    .THIS .navDesktopSmall{
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;
    }


    .THIS .hideElementOnDesktop {
        display: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .THIS .hideElementOnTablet{
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;

    }






    .THIS .searchMenuPosition div{
        z-index:1;
        width: 22vh;
    }

    .THIS .searchRegion{
        margin-top:65px !important;
        margin-right:120px !important;

    }

    .THIS #profileMenuPosition {
        margin-top:68px!important;
        margin-right:-250px!important;
    }

    .THIS .navMenuPosition{
        margin-right:-330px !important;
        margin-top:32px!important;
        /*margin-bottom:125px!important;*/
        /*margin-left:-50px!important;*/
        /*margin-bottom:125px!important;*/

    }

    .THIS .accountIdPosition {

        position: fixed;
        bottom: 0;
        width: 100%;
        font-family: Montserrat, "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 11px;
        line-height: 16px;
        color: #950D16;
        text-align: center;
        background-color: #81858D;
        height: 30px;
        z-index: 1000;
    }

    .THIS .smallLogoAndSlogan {
        color: red!important;
        font-size: 6px!important;
        margin-top:500px!important;

    }


    .THIS .logoBar{
        position: relative!important;
        top:-110px!important;
            /*margin-top:50px !important;*/
            /*margin-bottom: 300px !important;*/
    }

    .THIS .sloganType{
        /*margin-top:5px!important;*/
        margin:auto 5px;

        display:inline-block;
        z-index:1;
    }

    .THIS .sloganType p{
        margin:0;
        font-size:15px;
        display:inline;
    }

    .THIS .slds-p-vertical--xx-small.slds-p-horizontal--small.slds-grid {
        /*margin-top: 25px !important;*/
        /*margin-left:300px!important;*/
        position: absolute;
        top:3.8vh;
        left:40vh;
        max-width: 100%;
        display:inline-flex;
    }

    .THIS body {
        max-width:768px !important;
    }

    .THIS .logoTablet {
        display: inline-flex;
        margin-left: 10px;
        z-index:1;
    }


}

/*@media only screen and  (min-width: 768px) and (max-width: 1024px) {

    !* For between TABLET and DESKTOP Small : *!
    .THIS .navMobile {
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;

    }
    .THIS .navDesktop {
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;

    }
    .THIS .navDesktopLarge {
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;

    }

    .THIS .navDesktopSmall{
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;

    }

    .THIS .searchBarMobile {
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;

    }

    .THIS .hideElementOnTablet{
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;
    }


    .THIS .hideElementOnDesktop {
        display: none !important;
        margin-left: auto !important;
        margin-right: auto !important;

    }

    .THIS .logoBar{
        margin-top: -60px !important;
        magin-left:10px!important;
    }


    .THIS #searchMenuPosition {
        margin-top: 13px!important;
        margin-right:70px;
        !*width: 300px!important;*!
        height: 55px!important;
        padding-top:15px!important;
    }

    .THIS .searchRegion {
        margin-top:-15px!important;
    }
    .THIS #profileMenuPosition {
        margin-top:-60px!important;
        !*margin-left: 750px!important;*!
        width:290px!important;
        height: 55px!important;
        padding-top:15px;
        !*background-color: red!important;*!
        !*background-color: #81858D!important;*!
    }

    .THIS .profileMenuRegion {
        !*background-color: blue !important;*!
        margin-right:-100px!important;
        padding-top: 8px !important;
    }

    .THIS .homeMenu {
        margin-left:975px!important;
        margin-top:-55px!important;
    }
    .THIS .navMenuPosition{
        margin-right:0px !important;
        margin-top:-5px;
        margin-bottom:-50px !important;

    }
    .THIS .mainContentArea{
        margin-top: 15px !important;
    }

    .THIS body {
        max-width:1024px !important;
    }


    !*.THIS .forceCommunityGlobalNavigation>* {*!
        !*display: block!important;*!
        !*margin: 0 auto!important;*!
    !*}*!

    !*.THIS .siteforceDesignTimeRegion {*!
        !*margin-top: 11px !important;*!

    !*}*!

    !*.THIS .uiMenu.selfServiceUserProfileMenu {*!
        !*margin-top:6px!important;*!
    !*}*!





}*/

/*@media only screen and  (min-width:1025px) and (max-width: 1500px) {

    !* For DESKTOP Small : *!
    .THIS .navMobile {
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;

    }
    .THIS .navTablet {
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;

    }
    .THIS .navDesktopLarge {
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;

    }

    .THIS .hideElementOnDesktop {
        display: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .THIS #searchMenuPosition {
        !*margin-top: -55px!important;*!
        !*margin-left: 100px;*!
        !*width: 700px!important;*!
        !*height: 55px!important;*!
        background-color: #d3d4d8!important;
        padding-top:17px!important;
    }

    .THIS .searchRegion {
        margin-right:49px!important;
        margin-top:-7px!important;
    }
    .THIS #profileMenuPosition {
        margin-right:-622px!important;
        margin-top:-18px!important;
        !*margin-left:640px!important;*!
        width:290px!important;
        height: 55px!important;
        !*background-color: red!important;*!
        background-color: #81858D!important;
        padding-top:13px;
    }

    .THIS .profileMenuRegion {
        !*background-color: blue !important;*!
    }

    .THIS .homeMenu {
        margin-left:973px!important;
        margin-top:-18px!important;
    }
    .THIS .navMenuPosition{
        margin-top:10px !important;
        !*margin-left:300px!important;*!
        margin-right:-15px!important;
    }

    .THIS .navDesktop {
        margin-left: -800px!important;
    }


    !*.THIS .forceCommunityGlobalNavigation>* {*!
    !*display: block!important;*!
    !*margin: 0 auto!important;*!
    !*margin-left: 165px !important;*!
    !*}*!

    !*.THIS .siteforceDesignTimeRegion {*!
    !*margin-top: 11px !important;*!

    !*}*!

    !*.THIS .uiMenu.selfServiceUserProfileMenu {*!
    !*margin-top:6px!important;*!
    !*}*!



}*/

@media only screen and (min-width: 768px) {
    /* For DESKTOP LARGE: */
    .THIS .navTablet {
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;

    }
    .THIS .navMobile {
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;

    }
    .THIS .navDesktopSmall {
        display:none !important;
        margin-left: auto!important;
        margin-right: auto!important;

    }

    .THIS .hideElementOnDesktop {
        display: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .THIS #searchMenuPosition {
        /*margin-top: -55px!important;*/
        /*margin-left: 100px;*/
        /*width: 700px!important;*/
        /*height: 55px!important;*/
        background-color: #d3d4d8!important;
        padding-top:17px!important;
    }

    .THIS .searchRegion {
        padding-right:10px!important;
        margin-top:-7px!important;
    }
    .THIS #profileMenuPosition {
        /*margin-right:-622px!important;*/
        /*margin-top:-18px!important;*/
        /*margin-top:-7px!important;*/
        /*margin-left:640px!important;*/
        /*width:290px!important;*/
        /*height: 55px!important;*/
        /*background-color: red!important;*/
       /* background-color: #81858D!important;
        padding-top:17px;*/
    }

    .THIS .accountIdPosition {
        font-family: Montserrat, "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 11px;
        line-height: 16px;
        color: #FFFFFF;
    }

    .THIS .profileMenuRegion {
        /*margin-top:-7px;*/
        height: 55px;
        background-color: #81858D;
        vertical-align: middle;
        padding-top: 12px;
        border-left: 1px;
        border-left-style: solid;
        border-left-color: white;
        text-align: center;
        /*background-color: blue !important;*/
    }

    .THIS .homeMenu {
        margin-left:973px!important;
        margin-top:-18px!important;
    }
    .THIS .navMenuPosition{
        margin-top:10px !important;
        /*margin-left:300px!important;*/
        /*margin-right:-15px;*/
    }

    .THIS .navDesktop {
        /*margin-left: -800px!important;*/
    }

}