/**
 * Created by Dongliang Zhang on 2019-11-11.
 */

.THIS {
    font-family: Montserrat, Semi-Bold, 'Open Sans', 'sans-serif';
    color:#be141f;
    font-weight:500;
}

.THIS .title{
    text-align: center;
    font-size:20px;

}