/**
 * Created by Francois Poirier on 2019-04-15.
 */
.THIS {
    background: #FFFFFF;
    border-bottom: #999999 1px dotted;
    max-width:900px;
    margin-left:auto;
    margin-right:auto;
}

.THIS .borderDottedBottom{
    border-bottom: #999999 1px dotted;
}

.THIS .eventDate {
    font-weight: bold;
}

.THIS .headerText {
    font-family: Montserrat, 'Open Sans', 'sans-serif';
    font-size: medium;
    font-weight: bold;
    color: #383838;
    text-transform: uppercase;
    letter-spacing: 5px;
}


.THIS .headerTextAlignment {
    text-align: center;
}

.THIS .verticalSeperator {
    border-right: none;
}

@media screen and (min-width: 768px) {

    .THIS .verticalSeperator {
        border-right: #EDEDED solid;
    }

    .THIS .headerTextAlignment {
        text-align: left;
    }

}

@media screen and (max-width: 767px){
    .THIS .removePaddingInUi{
        padding-right:0;
        padding-left:0;
    }
}