/**
 * Created by Francois Poirier on 2019-04-24.
 */
.THIS {
    background-color: #f5f5f5!important;
    border-top:solid 5px #f5f5f5;
    border-bottom:solid 5px #f5f5f5;
}

.THIS .todayEventIcon{
    display:block;
    margin-left:4%;
}

.THIS .todayEventIcon span{
    color:#3D3F3E;
    padding-left:10px;
    padding-top:4px;
    font-weight:700;
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 1.5px;
}

.THIS .todayEventDate {
    color: #818080;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Segoe UI";
    font-size: 12px!important;
}
.THIS .majorEventDate {
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Segoe UI";
    font-size: 12px!important;
}


.THIS .majorEventTitle{
    color:#000;
    font-weight:502;
    font-family: "Segoe UI";
    font-size: 18px;
    padding-top: 10px !important;
}
.THIS .todayEventTitle{
    color:#000;
    font-weight:502;
    font-family: "Segoe UI";
    font-size: 18px;
    padding-top:10px !important;
}

.THIS .eventDescription {
    font-family: "Segoe UI";
    font-size: 14px;
}

.THIS .majorEventBackground {
    background: #F5F5F5;
}

.THIS .eventList {
    border: 1px solid #F5F5F5;
}

.THIS .cIcUiCalendarEventItem{
    padding: 20px 20px 30px 20px;
}

.THIS .cIcUiCalendarEventItem:not(:last-child) {
    background-color: #f6f6f6;
    /*padding-bottom:20px;*/
    /*padding-top:10px;*/
    /*padding-bottom:20px;*/
    border-bottom: 1px dotted #A9A9A9!important;
}
.THIS .cIcUiCalendarEventItem:last-child{
    border-bottom: 0px!important;
}

.THIS .cIcUiCalendarEventItem .eventDate {
    color:#950d16;
    font-size:10px;
    font-family:  Montserrat, 'Open Sans', 'sans-serif', 'Semi-Bold';
    font-weight: 600;
    padding:0 0 30px 0;
}
.THIS .cIcUiCalendarEventItem .eventTitle{
    font-family:  Montserrat, 'Open Sans', 'sans-serif';
    font-weight: 500;
    padding:0 0 20px 0;
}
.THIS .cIcUiCalendarEventItem .eventDescription{
    font-family:  Montserrat, 'Open Sans', 'sans-serif';
    font-weight: 400;
    line-height:18px;
    font-size:12px!important;
    color: #4b4b4b;
    padding:0 0 30px 0;
}
.THIS .cIcUiCalendarEventItem .todayEventIcon{
    padding: 0 0 0 0;
    margin-left:10px;
}

.THIS .cIcUiCalendarEventItem .todayEventIcon>span>a{
    color:#4b4b4b;
    position: relative;
    top:1px;
    font-size: 10px;
    font-family:  Montserrat, 'Open Sans', 'sans-serif', 'Semi-Bold';
    font-weight: 600;
}
.THIS .cIcUiCalendarEventItem .todayEventIcon>span>a:hover{
    color:#950d16;
}

.THIS .cIcUiCalendarEventItem .todayEventIcon>lightning-icon>lightning-primitive-icon>svg{
    fill:#950d16!important;
}

.THIS .eventTitle{
    font-weight: bold!important;
    font-size: large!important;
    padding-top:10px!important;
}



@media screen and (min-width: 1025px){
    .THIS {
        height: 500px;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .THIS {

        height:100%;
        /*z-index:99999;*/
        /*overflow: scroll;*/

        position: relative;
        left: -5px;
    }


}

@media screen and (max-width:768px) {
    .THIS{
        background:#f6f6f6;
        transform:scaleX(1.1);
    }

    .THIS .cIcUiCalendarEventItem{
        transform:scaleX(0.85);
        padding-top:20px;
    }

    .THIS .cIcUiCalendarEventItem .eventDate{
        padding-top:10px;
    }
    .THIS .cIcUiCalendarEventItem .todayEventIcon>span>a{
        font-size:10px!important;
    }
}