/**
 * Created by Francois Poirier on 2019-05-16.
 */

/*.THIS {*/

/*    position: fixed;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    font-family: Montserrat, "Open Sans", sans-serif;*/
/*    font-weight: 600;*/
/*    font-size: 11px;*/
/*    line-height: 16px;*/
/*    color: #950D16;*/
/*    text-align: center;*/
/*    background-color: #999ca3;*/
/*    height: 30px;*/
/*    z-index: 1000;*/

/*}*/





/**
 * Created by Francois Poirier on 2019-05-06.
 */
.THIS {
    /*height:30px;*/
}

.THIS .accountIdText {
    color: #FFFFFF;
    text-align: center;
}

.THIS .accountIdText span{
    width: 100%;
    display:inline-block;

}



@media only screen and (min-width: 320px) and (max-width:479px) {


    .THIS .accountIdText {
        /*transform:scaleX(1.1);*/
        position: fixed !important;
        top: 0;
        /*bottom:0;*/
        float:right;
        /*margin-left:4%;*/
        width: 92%;
        font-family: Montserrat, "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 11px;
        line-height: 16px;
        color: #FFFFFF;
        text-align: center;
        background-color: #999ca3;
        /*background-color: red;*/
        /*height: 30px;*/
        /*height:68px;*/
        /*padding-top:17px;*/
        z-index: 1000;
    }

    .THIS .accountIdText span{
        position:relative;
        bottom:7px;
        /*transform:scaleX(0.9);*/
    }

    .THIS .accountIdText .coverButton{
        width:100%;
        background-color:#f2f2f2;
        height:60px;
        transform: scaleX(1.2);
        /*z-index:2000;*/
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .THIS .accountIdText {
        position: fixed !important;
        bottom: 0;
        width: 100%;
        font-family: Montserrat, "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 11px;
        line-height: 16px;
        color: #FFFFFF;
        text-align: center;
        background-color: #999ca3;
        height: 30px;
        z-index: 1000;
    }

    .THIS .accountIdText span{
        position:relative;
        top:7px;
    }
}

@media only screen and (min-width:768px) and (max-width:827px) {
    .THIS .accountIdText {
        position: relative;
        top:-6px;
    }
}