.THIS{
}

.THIS .IconContent{
    text-align: center;
    margin-top:40px;
}

.THIS .IconContent .IconImg{
    width:15%;
    display: block;
    margin:0 auto;
}

.THIS .IconContent .IconContext{
    margin-top: 24px;
    font-size: 16px;
    font-family: Montserrat, Semi-Bold, 'Open Sans', 'sans-serif';
    font-weight: 600;
    color: #333333;
    width:68%;
    display: block;
    margin-left:auto;
    margin-right: auto;
}

.THIS .maintenanceText{
    font-size:12px!important;
}

.THIS .tabStyle{
    position: relative;
    top:-40px;
}


.THIS .hideContent{
    display:none!important;
}

.THIS .iko-tile.btnFontSizeFR{
    font-size:10px!important;
    line-height:10px;
    transform:scaleX(0.94);
}

.THIS .labelFontSizeFR{
    font-size:15px!important;
    line-height:18px;
    font-weight:500;
}

.THIS .labelFontSizeFR>div.cIcUiCommunityWelcomeItem{
    transform:scaleX(.94);
}

.THIS .languageNavigation{
    display: inline-flex;
    position: absolute;
    z-index: 999;
    color: #FFFFFF;
    padding-top: 8px;
    right:8%;
}

.THIS .languageNavigation>span{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top:25px;
    margin-left: 15px;
    border-bottom: #FFFFFF solid 1px;
    border-left: #FFFFFF solid 1px;
    border-right:#FFFFFF solid 1px;
    border-radius: 10px;
    position: relative;
    top: -28px;
    color: #81858D;
    background-color:#3D3F3E;
}


.THIS .languageNavigation>span>a{
    text-decoration: none;
    color:#81858D;
    padding-left:5px;
    padding-right:5px;
    background:transparent;
    border:none;
}

.THIS .languageNavigation>span>button{
    text-decoration: none;
    color:#81858D;
    padding-left:5px;
    padding-right:5px;
    background:transparent;
    border:none;
}

.THIS .cCenterPanel{
    margin-top:0;
}

.THIS .welcomeMain {

	background-size: cover;
    height:100vh;
	text-align: -webkit-center;
    text-align: -moz-center;
	vertical-align: center;
	position: absolute;
    top:0;
    left:0;
	display: inline-block;
	align-items: center;
    background-attachment: fixed;
    background-position: bottom;
}

.THIS .content-wrapper {
    margin-top:40px;
    width:900px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    position: relative;
 }

.THIS .text-wrapper{
	font-family: Montserrat medium;
	font-size:15px;
	line-height:18px;
}

.THIS .text-wrapper span.red-text{
	font-weight: 600;
	color:#be141f;
    font-family: Montserrat medium, 'Open Sans', 'sans-serif', 'Semi-Bold';
}

.THIS .text-wrapper span.content-text{
	font-weight:400;
	color:#606060;
}

.THIS .text-underline{
    text-decoration: underline;
}

.THIS .iko-tile-wrapper {
    padding-left:20px;
    padding-right:20px;
    padding-bottom:30px;
    padding-top:30px;
    width:300px;
    text-align:center;
}

.THIS .iko-tile-wrapper:not(:last-child){
    border-right: 1px black dotted;
}

.THIS .iko-tile-button{
    height:38px;
    width:185px;
    background: #000000;
    margin-top:20px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.THIS .iko-tile-button:hover{
    background-color:#950d16;

}

.THIS .iko-tile-button>a:hover{
    text-decoration: none;
}

.THIS .iko-tile-button .iko-tile{
	color: white;
    font-weight:600;
	font-size: 10px;
    line-height:10px;
    font-family: Montserrat, 'Open Sans', 'sans-serif', 'Semi-Bold';
	cursor: pointer;
    text-decoration: none;
    padding-top:14px;
    text-transform: uppercase;
}

.THIS .whiteText{
    color: #FFFFFF!important;
    font-weight:600;
}


@media only screen and (max-width:980px){

    .THIS .languageNavigation{
        left:15%;
    }

    .THIS .IconContent .IconImg{
        width:30%;
    }

    .THIS .IconContent{
        margin-top:88px;
    }

    .THIS .maintenanceText{
        font-size:16px!important;
    }


    .THIS .content-wrapper{
        margin-left:auto;
        margin-right:auto;
        width:300px;
        margin-top:210px;
        transform: scale(1.8);
    }

    .THIS .IconContent .IconContext{
        margin-top:30px;
    }

    .THIS .IconContent .IconContext>p{
        font-size: 1.6rem;
    }


    .THIS .iko-tile-wrapper{
        padding-top:40px;
        padding-bottom:40px;
    }

    .THIS .iko-tile-wrapper:not(:last-child){
        border-right: unset;
        border-bottom: 1px black dotted;
    }
    .THIS .welcomeMain{
        width:100%;
    }

    .THIS .img_medium-show-only{
        display:block;
        width:100%;
        background: black;
        border-bottom: 10px #333333 solid;
    }

    .THIS .img_x-large{
        display:none;
    }

    .THIS .img_medium-show-only>img{
        max-height: 35vh;
        object-fit: fill;
    }

}


@media screen and (min-width:981px) and (max-width:1279px) {
    .THIS .content-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 900px;
    }

    .THIS .img_medium-show-only{
        display:none;
    }

    .THIS .img_x-large{
        display:block;

    }

    .THIS .img_x-large>img{
        max-height: 35vh;
        object-fit: cover;
        border-bottom: 10px #333333 solid;
    }

    .THIS .languageNavigation p{
        font-size:11px;
        margin-top:3px;
    }


    .THIS .tabFR.adjustImg1{
        position: relative;
       left:1px;
    }

}

@media only screen and (min-width: 1280px){

    .THIS .content-wrapper{
        margin-left:auto;
        margin-right:auto;
        width:900px;
    }

    .THIS .languageNavigation p{
        font-size:11px;
        margin-top:3px;
    }


    .THIS .img_medium-show-only{
        display:none;
    }

    .THIS .img_x-large{
        display:block;
    }

    .THIS .img_x-large>img{
        max-height: 35vh;
        object-fit: cover;
        border-bottom: 10px solid #333333;
    }

    .THIS .tabFR.adjustImg1{
        position: relative;
        left:2px;
    }
}